doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://unpkg.com/axios/dist/axios.min.js")

		script(src="../javascripts/function/convertTime.js")

		script(src="../javascripts/function/getUserInfo.js")
		script(src="../javascripts/function/getSchedule.js")
		script(src="../javascripts/function/getRoute.js")
		script(src="../javascripts/function/getRoutes.js")
		script(src="../javascripts/function/getStop.js")
		script(src="../javascripts/function/getCompany.js")

	body
		block content
